<div class="container bg-primary">
  <h5 class="text-white text-center">¿Desea eliminar el registro?</h5>
  <div mat-dialog-content>
    <p>La acción no se puede deshacer.</p>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-flat-button color="primary" class="btn btn-primary m-2" (click)="onNoClick()">
      No, Mantener!
    </button>
    <span class="spacer"></span>
    <button mat-flat-button color="warn" (click)="onConfirm()" cdkFocusInitial>
      Ok, Eliminar
    </button>
  </div>
</div>
